@import '../../App.scss';


.itemInfoHome {
    max-width: 80%;
    min-width: 400px;
}



@media screen and (max-device-aspect-ratio: 8/5) {
    .itemInfoHome {
        max-width: 100%;
        min-width: 100%;
    }
}


@media screen and (max-width: 950px) {
    .itemInfoHome {
        max-width: 100%;
        min-width: 100%;
    }
}


